p {
  margin: 0;
}

ul {
  margin: 0;
}

/*.channel:nth-child(odd) {
  background-color: whitesmoke;
}

.channel:nth-child(2n) {
  background-color: white;
}*/

.channel {
  background-color: whitesmoke;
}

.title {
  height: 21px;
  overflow: hidden;
  opacity: .3;
  cursor: grab;
  background-color: lightgray;
  user-select: none;
  display: flex;
  line-height: 21px;
}

.title.live {
  background-color: #b76363;
}

.react-grid-item.react-grid-placeholder {
  background-color: wheat;
}

.trackY {
  width: 5px;
}

ul {
  list-style: none;
  color: rgb(88, 88, 88);
  padding-left: 20px;
  overflow-wrap: break-word;
  font-size: small;
}

li::before {
  content: "\25E6";
  display: inline-block;
  width: 20px;
  margin-left: -20px;
  margin-right: 0;
  text-align: center;
}

button {
  background: lightgrey;
  border: none;
  position: absolute;
  right: 0;
  height: 21px;
  top: 0;
  outline: none;
}

button:enabled:hover {
  cursor: pointer;
}

button.open {
  background-color: grey;
  color: white;
}

/*ul {
  list-style: none;
  counter-reset: li
}

li::before {
  content: counter(li);
  color: darkgray;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

li {
  counter-increment: li
}*/

.emote-preview {
  padding: 5px;
}

.emote-preview p {
  margin: 0 !important;
  text-align: center;
}

.emote-preview.show {
  opacity: 1 !important;
}

.tip {
  padding: 3px;
  font-size: .75em;
  font-weight: bold;
}

.tippy-tooltip [x-circle] {
  border-radius: 0%;
}