p {
  margin: 0;
}

ul {
  margin: 0;
}

/*.channel:nth-child(odd) {
  background-color: whitesmoke;
}

.channel:nth-child(2n) {
  background-color: white;
}*/

.channel {
  background-color: whitesmoke;
}

.title {
  height: 21px;
  overflow: hidden;
  opacity: .3;
  cursor: grab;
  background-color: lightgray;
  user-select: none;
}

.react-grid-item.react-grid-placeholder {
  background-color: wheat;
}

.trackY {
  width: 5px;
}

ul {
  list-style: none;
  color: rgb(88, 88, 88);
  padding-left: 20px;
}

li::before {
  content: "\25E6";
  display: inline-block;
  width: 20px;
  margin-left: -20px;
  margin-right: 0;
  text-align: center;
}

button {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  height: 21px;
}

/*ul {
  list-style: none;
  counter-reset: li
}

li::before {
  content: counter(li);
  color: darkgray;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}

li {
  counter-increment: li
}*/